div.ly-header#header
    div.h-main
        a.logo(href='/')
            //- img(src='/img/icon/IONC_store_bule.svg')
            i.icon-site-logo
        //- a.logo_gw(href='http://www.ionchain.org/index_CN.html', target='_blank') 离子链官网
        //- if userinfo && currentPage != 'login'
        //-     .h-info
        //-         span 当前登录 
        //-         span #{userinfo.mobile_num}
        //-         span.quit(data-bind='click: logout')  退出
        //- if !userinfo && currentPage != 'login'
        //-     .h-have(v-if='isEmpty(userinfo) && !isLoginPage')
        //-         a.z_d(href='/register')
        //-             span 注册
        //-         |   已有账号？
        //-         a.z_d(href='/login')
        //-             span 请登录
        if userinfo && currentPage != 'login'
            .h-info
                span #{i18n.__("当前登录")}
                a.dis-normal(href="/user/account") #{userinfo.mobile_num}
                span.quit(data-bind='click: logout')  #{i18n.__("退出")}
        if !userinfo && currentPage != 'login'
            .h-have(v-if='isEmpty(userinfo) && !isLoginPage')
                a.z_d(href='/register')
                    span #{i18n.__("注册")}
                span.xc_x |
                a.z_d(href='/login')
                    span #{i18n.__("登录")}
        if  !userinfo && currentPage != 'login' && currentPage != 'register' && currentPage != 'retrieve'
            ul.navitems
                li
                    a.active(href="#") #{i18n.__("贡献统计")}
                li.navitems_t 
                    a(href="#") #{i18n.__("现有设备")}
                li 
                    a(href="#") #{i18n.__("参与投票")}
            .nav-search
                .search-input
                    input()
                    i.search-btn.icon-search
