extends layout/default.pug
block previte-head
  link(rel="stylesheet" href="/dist/css/register.css")
  script.
    require(['/dist/customerjs/pages/register.js'])
block content
  .page-register#page-register
    .i-step
      div(data-bind="css: {active: step()=='1', finish: step()*1 >1}")
        span 1
        label #{i18n.__('手机验证')}
      div(data-bind="css: {active: step()=='2', finish: step()*1 >2}")
        b
        span 2
        label #{i18n.__('填写企业信息')}
      div(data-bind="css: {active: step()=='3', finish: step()*1 ==3}")
        b
        span 3
        label #{i18n.__('注册成功')}
    ul.register-form-box
      //- 手机验证
      li.register-step1.register_cont_yz(data-bind="css: {active: step()=='1'}")
        .sms-step
          .sms-step-item.register_cont_number(data-bind="css: {active: smsStep()=='1'}")
            .error-msg(data-bind="css: { show: errorMsg1()}")
              span.icon
                img(src='/img/icon/error.svg', alt='')
              span(data-bind="text: errorMsg1")
            .register_cont_number
              input(placeholder=i18n.__('Enter your mobile no') data-bind="textInput: mobile")
            .register_cont_click
              button(data-bind="click: smsNextStep") #{i18n.__('点击按钮进行验证')}
          .sms-step-item(data-bind="css: {active: smsStep()=='2'}")
            .prevent-robot-wrapper
              #captcha(style='position: relative')
              #slider.slider(style='display:none')
          .sms-step-item.register_cont_click(data-bind="css: {active: smsStep()=='3'}")
            .error-msg(data-bind="css: {show: !!smsCodeValidErrMsg()}")
              span.icon
                img(src='/img/icon/error.svg', alt='')
              span(data-bind="text: smsCodeValidErrMsg")
            .register_cont_number
              input(type='text' readonly placeholder=i18n.__('Enter your mobile no') data-bind="value: mobile")
            .register_cont_click_yz
              .click_yz_yz(data-bind="visible: isShowSMScodeInput()")
                div
                  input(type='text', placeholder=i18n.__('手机验证码') data-bind="textInput: code")
                div
                  button(data-bind="text: tip_reget(),visible: !sendEnable()")
                  button.click_yz_cx(data-bind="css:{show: sendEnable}, click: getSmsCode") #{i18n.__('重新获取')}
              .click_yz_text(style="display:none" data-bind="visible: isSendSmsSuccess") #{i18n.__('校验码短信已发送到你的手机上，有效时间为10分钟，请及时查收。')}
            button.i-button(data-bind="click: smsNextStep") #{i18n.__('Next')}
          //- 输入密码
          .sms-step-item.register_cont_pw(data-bind="css: {active: smsStep()=='4'}")
            .error-msg(data-bind="css: {show: !!passwordValidMsg()}")
              span.icon
                img(src='/img/icon/error.svg', alt='')
              span(data-bind="text: passwordValidMsg")
            p
              input(placeholder=i18n.__('Enter your password') type="password" data-bind="textInput: password")
            p
              input(placeholder=i18n.__('请重复输入密码') type="password" data-bind="textInput: password_confirmation")
            // 下一步按钮
            button.i-button(data-bind="click: smsNextStep")
              | #{i18n.__('Next')}
      //- 填写企业信息
      li.register-step2.register_cont_xx(data-bind="css: {active: step()=='2'}")
        .error-msg(style="width:372px; margin:0 auto 20px;" data-bind="css: { show: errorMsg2()}")
              span.icon
                img(src='/img/icon/error.svg', alt='')
              span(data-bind="text: errorMsg2")
        p
          input(type='text' placeholder=i18n.__('Company name') data-bind="textInput: company_name")
        p
          input(type='text', placeholder=i18n.__('Company registration code') data-bind="textInput: company_org_code")
        p
          textarea(cols='30', rows='6', placeholder=i18n.__('Enter your IONC wallet address') data-bind="textInput: eth_address")
        //- 下一步按钮
        button.i-button(data-bind="click: nextStep")
          | #{i18n.__('Next')}
      //- 注册完成
      li.register-step3.register_cont_wc(data-bind="css: {active: step()=='3'}")
        div
          img(src='/img/icon/succeed.svg', alt='')
        div #{i18n.__('恭喜您，注册成功！')}
        .register_next
          button.i-button(data-bind="click: gotoLogin") #{i18n.__('完成')}


