extends ./layout.pug
block user-content
    script.
        require(['/js/pages/user.js'])
    .account.release 
        form.ic-form.of-hide.account_form#account_from
            .account_photo.hide
                img(src="/img/product/product_1.jpg")
                input.hide(name='' id='equipment-pic-photo' type="file" data-url="http://localhost/jQuery-File-Upload/server/php/")
            button.hide.account_select.ic-btn-big(id="data-sample-photo")  选择图片
            .account_text.hide 选择你喜欢的图片：格式为JPG,PNG,GIF, 大小不超过5MB
            .ic-form-item
                label #{i18n.__("Name")}
                .input-wrap
                    input.ic-input-big(placeholder=i18n.__("请输入您的姓名") name="nickname" required value=userinfo.name)
                    //- span.input-append.tip-status 0/10
            .ic-form-item
                label #{i18n.__("公司")}
                .input-wrap
                    input.ic-input-big(placeholder=i18n.__("请输入您所在的公司") name="company_name" required value=userinfo.company_name)
                    //- span.input-append.tip-status 0/80
            .ic-form-item
                label #{i18n.__("公司组织代码")}
                .input-wrap
                    input.ic-input-big(placeholder=i18n.__("请输入您的公司组织代码") name="company_org_code" required value=userinfo.org_code)
                    //- span.input-append.tip-status 0/80
            .ic-form-item
                label #{i18n.__("职位")}
                .input-wrap
                    input.ic-input-big(placeholder=i18n.__("请输入您的职位") name="position" required value=userinfo.position)
                    //- span.input-append.tip-status 0/80
        .c-tool-bar
            button.ic-btn.i-primary(data-bind="click: ac_submit") #{i18n.__("提交")}
            button.ic-btn.i-outline #{i18n.__("取消")}