.user-nav
    ul
        li 
            a(class={active: currentPage == 'release'} href="/user/release") #{i18n.__("My launched products")}
        li 
            a(class={active: currentPage=='collect'} href="/user/collect") #{i18n.__("My saved items")}
        li 
            a(class={active: currentPage=='message'} href="/user/message") #{i18n.__("Message centre")}
        li 
            a(class={active: currentPage=='comp'} href="/user/comp") #{i18n.__("Complain and feedback")}
        li 
            a(class={active: currentPage=='account'} href="/user/account") #{i18n.__("Account settings")}