.user-nav
    ul
        li 
            a(class={active: currentPage == 'release'} href="/user/release") #{i18n.__("我的发布")}
        li 
            a(class={active: currentPage=='collect'} href="/user/collect") #{i18n.__("我的收藏")}
        li 
            a(class={active: currentPage=='message'} href="/user/message") #{i18n.__("消息中心")}
        li 
            a(class={active: currentPage=='comp'} href="/user/comp") #{i18n.__("投诉与反馈")}
        li 
            a(class={active: currentPage=='account'} href="/user/account") #{i18n.__("Account settings")}